@import "./variables";

.app {
  background-color: $color-dark-ocean;
  height: 100%;
  position: relative;
  overflow-y: scroll;

  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;

    @include sm {
      width: 70%;
    }

    @include md {
      width: 60%;
    }

    @include xl {
      width: 80%;
    }
  }

  &__deco-rect {
    position: fixed;
    width: 150vw;
    height: 10rem;
    background-color: $color-lagoon;
    transform: rotate(45deg) translateX(10%);
    top: 0;
  }

  &__deco-rect-2 {
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: $color-ocean;
    border-bottom: 2rem solid $color-grey;
  }

  &__deco-person-icon {
    position: fixed;
    right: 0;
  }

  &__footer {
  }
}

.rodal {
  border-radius: 8px;

  .rodal-dialog {
    overflow-y: scroll;
    min-height: 60vh;
    min-width: 30rem;
    padding: 0;
    display: flex;
    box-shadow: 3px 3px 10px rgba($color-black, 0.4);
    background-color: $color-grey;
    border-radius: 8px;
  }
}
