@import "./variables";

.app {
  text-align: center;
  overflow-y: scroll;
  background-color: $color-dark-ocean;
  height: 100%;

  &__main-content {
    position: relative;
    padding-top: 2em;
    padding-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
