@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@500&display=swap");

@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $primary-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-family;
}
