@import "../variables";

.app-footer {
  width: 100%;
  display: block;
  padding-bottom: 4em;
  padding-top: 3em;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    color: $color-lagoon-lighter;
    text-decoration: none;
    transition: color 200ms;

    &:hover {
      color: lighten($color-lagoon-lighter, 10);
    }
  }

  &__par {
    color: $color-grey;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &--main {
      font-size: 1.1em;
      margin-bottom: 2em;
    }
  }
}
