@import "../variables";

.card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;

  @include lg {
  max-width: 30rem;
  }

  @include xl {
    max-width: unset;
    flex-direction: row;
  }
}
