@import "../variables";

.card-list {
  position: relative;
  display: block;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include lg {
      max-width: 30rem;
    }

    @include xl {
      max-width: 80rem;
      flex-direction: row;
    }
  }
}
